@import "scss/settings";
body {
    background: linear-gradient(45deg, red, green);
}

.content-navigation {
    border-color: $blue;
    color: darken($blue, 9%);
}

.border {
    padding: $margin / 2;
    margin: $margin / 2;
    border-color: $blue;
}